* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: hsl(196, 44%, 85%);
    font-family: 'Proza Libre', sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
}

main.container {
    width: 60vh;
    height: 80vh;
    padding: 30px;
    background-color: white;
    font-size: 1.5em;
    color: hsl(42, 100%, 64%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shadow {
    background-color: hsl(179, 28%, 59%);
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow:nth-child(3) {
    background-color: rgb(235, 159, 172);
    color: black;
}

#one {
    box-shadow: 15px 15px hsl(42, 100%, 64%);
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

#two {
   transition: 1.2s; 
}

#two:hover {
    text-shadow: 15px 15px 15px grey;
    transform: scale(1.2);
    font-size: 3rem;

}   
   
#three {
    box-shadow: inset 10px 10px 4px hsl(0, 5%, 40%);
    text-shadow: 10px 10px 10px hsl(42, 100%, 64%);
}

#four {
    box-shadow: 15px 10px 15px  hsl(0, 5%, 40%);
    text-shadow: 
}
